* {
  box-sizing: border-box;
  font-family: -apple-system, system, sans-serif;
}

body {
  margin: 0;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-input, .login-button {
  display: block;
  width: 355px;
  height: 40px;
}

.login-input {
  line-height: 3em;
  margin-bottom: 20px;
  border-radius: 3px;
  border: 1px solid gray;
  padding: 2px 20px;
}

.login-button {
  color: white;
  background-color: red;
  border: 0;
}

#sidebar {
  width: 300px;
  float: left;
  background-color: red;
  color: white;
}

#chat-area {
  float: left;
}
