* {
  box-sizing: border-box;
  font-family: -apple-system, system, sans-serif;
}

body {
  margin: 0;
}

#login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-input, .login-button {
  display: block;
  width: 355px;
  height: 40px;
}

.login-input, .message-input {
  line-height: 3em;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid gray;
  padding: 2px 20px;
}

.login-button {
  margin-top: 20px;
  color: white;
  background-color: #f71845;
  border: 0;
}

.chat-interface {
  display: flex;
}

#sidebar {
  float: left;
  /* width: 300px; */
  flex: 0 0 300px;
  background-color: #f71845;
  color: white;
  padding: 30px 0 30px 0;
  height: 100vh;
}

#user-info {
  margin-bottom: 40px;
  padding: 0 30px;
}

.room-link {
  padding: 20px 30px;
  display: block;
  font-size: 18px;
  color: white;
  text-decoration: none;
}

.room-link.active {
  background-color: #7b0815;
}

.username {
  font-size: 22px;
  margin-bottom: 5px;
  font-weight: bold;
}

#chat-area {
  flex-grow: 1;
  height: 100vh;
  float: left;
}

#room-description, #message-compose {
  width: calc(100% - 300px); /* TODO: fix me */
  min-width: 350px;
}

#room-description {
  height: 130px;
  padding: 30px;
  text-align: center;
  color: #696969;
  position: fixed;
  border-bottom: 1px solid #696969;
}

#room-description .room-name {
  font-size: 30px;
  margin-bottom: 20px;
}

.room-participants .current-user {
  color: #f71845;
}

#messages {
  margin-top: 130px;
  background-color: #eff0f2;
  height: calc(100vh - 130px - 110px);
  border-bottom: 1px solid #696969;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.current-user .sender-name {
  display: none;
}

.sender-name {
  color: #696969;
  margin-top: 20px;
}

.message {
  width: 100%;
  max-width: 100%; /* Sneaky long messages */
  float: left;
  margin-top: 10px;
  /* Increase space between messages, so that users can easily associate names with messages. */
  margin-bottom: 25px;
}

.message .current-user .content {
  float: right;
}

.message .content {
  background-color: white;
  border-radius: 20px;
  padding: 10px 25px;

  /* We could consolidate this into a class or something, and use mixins */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.message .current-user .content {
  background-color: #f71845;
  color: white;
}

#message-compose {
  position: fixed;
  bottom: 0;
  padding: 20px;
  line-height: 30px;
}

.message-input {
  float: left;
  width: 87%; /* TODO: this is ugly, fix me */
}

.message-send-button {
  float: left;
  width: 10%;
  color: #5d89e1;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  border: 0;
  padding: 10px 20px;
}
.message-send-button:hover {
  cursor: pointer;
}
