* {
  box-sizing: border-box;
  font-family: -apple-system, system, sans-serif;
}

body {
  margin: 0;
}

#login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-input, .login-button {
  display: block;
  width: 355px;
  height: 40px;
}

.login-input {
  line-height: 3em;
  margin-bottom: 20px;
  border-radius: 3px;
  border: 1px solid gray;
  padding: 2px 20px;
}

.login-button {
  color: white;
  background-color: #f71845;
  border: 0;
}

#sidebar {
  float: left;
  width: 300px;
  flex: 0 0 300px;
  background-color: #f71845;
  color: white;
  padding: 30px 0 30px 0;
  height: 100vh;
}

#user-info {
  margin-bottom: 40px;
  padding: 0 30px;
}

.room-link {
  padding: 20px 30px;
  display: block;
  font-size: 18px;
  color: white;
  text-decoration: none;
}

.room-link.active {
  background-color: #7b0815;
}

.username {
  font-size: 22px;
  margin-bottom: 5px;
  font-weight: bold;
}

#chat-area {
  float: left;
  min-width: 300px;
}

.current-user {
  color: #f71845;
}
