<div id="sidebar">
  <div id="user-info"></div>
  <div id="rooms">Loading rooms...</div>
</div>
<div id="chat-area">
  <div id="room-description"></div>
  <div id="messages"></div>
  <div id="message-compose"></div>
</div>
