<div id="login">
  <form class="login-form">
    <input class="login-input" type="text" name="username" placeholder="Type your username...">
    <button class="login-button" type="submit">Join the DoorDash Chat!</button>
  </form>
</div>
