<form class="message-form">
  <input class="message-input" type="text" name="message" autocomplete="off" placeholder="Type a message...">
  <button class="message-send-button" type="submit">Send</button>
</form>
