<div class="room-description">
  <div class="room-name">
    <%- name %>
  </div>
  <div class="room-participants">
    <span class="current-user">
      <%- username %>,
    </span>
    <%- users.join(', ') %>
  </div>
</div>
